    #about>h3 {
        display: none;
    }
    
    #education>h3 {
        position: relative;
        top: 80px;
    }
    
    #experiences>h3 {
        position: relative;
        top: 80px;
    }
    
    #about>p {
        width: 60%;
        position: relative;
        top: -120px;
    }
    
    h2 {
        display: none;
    }
    
    #contact {}
    
    .experience-date {
        position: relative;
        left: 750px;
    }
    
    .experience-location {
        position: relative;
        left: 750px;
    }
    
    .experience-type {
        position: relative;
        top: 40px;
        left: 170px;
    }
    
    .experience {
        margin-left: 0px;
        justify-content: flex-end;
        border-right: 5px solid gray;
        width: 150px;
        height: 150px;
    }
    
    #hobbies>h3 {
        position: relative;
        bottom: -80px;
    }
    
    #hobbies>ul {
        position: relative;
        left: 150px;
        bottom: -40px;
        border-left: 5px solid gray;
    }
    
    .experience-description {
        position: relative;
        width: 700px;
        left: 170px;
    }
    
    body {
        width: 70%;
        margin: auto;
    }
    
    h1 {
        border-bottom: 5px solid gray;
        position: relative;
        top: 50px;
        font-size: 80px;
    }
    
    .experience-institution {
        display: none;
    }
    
    img {
        position: relative;
        left: 950px;
        top: -217px;
        width: 280px;
    }
    
    .skills-primary,
    .skills-secondary {
        display: flex;
        position: relative;
        left: 130px;
    }
    
    .skills-secondary {
        font-size: 8px;
    }
    
    .skills {
        display: flex;
        flex-direction: row;
        border-left: 5px solid gray;
        bottom: 50px;
        left: 170px;
    }
    
    .skill {
        background-color: #008080;
        padding: 10px;
        width: 105px;
        margin-bottom: 20px;
        margin: 5px;
        color: white;
    }
    
    #competencies>h3 {
        position: relative;
        bottom: 10px;
    }
    
    .contact {
        background-repeat: no-repeat;
        background-size: contain;
        height: 100px;
        width: 100px;
        margin: 20px
    }
    
    .contacts {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 140px;
        bottom: -80px;
    }
    
    #contact h3,
    .contacts dt,
    .contacts dd,
    .contact-skype {
        display: none;
    }
    
    #contact {
        position: relative;
    }
    
    .contact-email {
        background-image: url(../images/email.png);
        position: relative;
        bottom: -100px;
    }
    
    .contact-phone {
        background-image: url(../images/phone.png);
        position: relative;
        bottom: -100px;
    }
    
    .contact-github {
        background-image: url(../images/github.png);
        position: relative;
        bottom: -100px;
    }
    
    .contact-facebook {
        background-image: url(../images/facebook.png);
        position: relative;
        bottom: -100px;
    }
    
    .skills-primary .skill[data-skill='5']::after {
        content: "★★★★";
    }
    
    .skills-primary .skill[data-skill='3']::after {
        content: "★★★★";
    }
    
    .skills-primary .skill[data-skill='1']::after {
        content: "★★";
    }
    
    .skills-secondary .skill[data-skill='9']::after {
        content: "★★★★★";
    }
    
    .skills-secondary .skill[data-skill='5']::after {
        content: "★★★★";
    }
    
    .skills-secondary .skill[data-skill='7']::after {
        content: "★★★★";
    }
    
    @media screen and (max-width:550px) {
        img {
            display: none;
        }
        h1 {
            font-size: 50px;
        }
        body {
            width: 100%;
        }
        #about>p {
            width: 90%;
            position: relative;
            top: 50px;
            border: none;
            margin-left: 30px;
        }
        #competencies>h3 {
            position: relative;
            text-decoration: underline;
            border: none;
            left: 170px;
            top: -50px;
        }
        #competencies {
            position: relative;
            top: 130px;
            left: -150px;
            border: none;
            border-left: none;
        }
        .experience {
            margin-left: -150px;
            position: relative;
            top: 30px;
            border: none;
        }
        .experience-location {
            position: relative;
            left: 550px;
        }
        h3 {
            position: relative;
            left: 30px;
            text-decoration: underline;
        }
        .experience-date {
            position: relative;
            left: 550px;
        }
        .experience-description {
            position: relative;
            width: 700px;
            left: 170px;
            width: 500px;
        }
        .experience-type {
            position: relative;
            top: 40px;
            left: 170px;
            color: #008080;
        }
        .contact-email {
            position: relative;
            left: -150px;
            bottom: -200px;
        }
        .contact-phone {
            position: relative;
            left: -150px;
            width: 60px;
            bottom: -110px;
            bottom: -220px;
        }
        .contact-github {
            position: relative;
            left: -150px;
            bottom: -190px;
        }
        .contact-facebook {
            position: relative;
            left: -150px;
            bottom: -190px;
        }
        .skills {
            border: none;
        }
    }